input{outline: none; -webkit-tap-highlight-color: rgba(255, 255, 255, 0); -webkit-user-modify: read-write-plaintext-only;}
button{outline: none; -webkit-tap-highlight-color: rgba(255, 255, 255, 0);}

.cursor{
  cursor: pointer;
}
.noAllowed{
  cursor: not-allowed !important;
}

.input-class{
  &:hover{
    border: 1px solid #ff4d4f;
  }
  &:active{
    border-color: #ff4d4f;
    box-shadow: 0 0 0 2px rgba(255, 77, 79,.2);
  }
}